body {
    font-family: Arial, sans-serif;
    background-color: #cbcbcf;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .header { 
    background-color: #a9aaff; 
    color: black; 
    padding: 10px; 
    text-align: center; 
}

  form {
    background-color: #fcfcfc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 25px;
    width: 300px;
    text-align: left;

  }

  h2 {
    margin-bottom: 10px; 
    font-size: 26px;
    text-align: center;
    padding-bottom: 10px;
    color: #ffffff;
  }

  h3{
    margin-bottom: 10px; 
    font-size: 12px;

    text-align: right;
    padding-bottom: 10px;
   
  }
  .form-header {
    background-color: #a9aaff;
    color: #fff;
    margin-bottom: 50px; 
    margin-top: 0px;
    
    padding: 10px;
    padding-left: 35px;
    padding-right: 35px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  

  .form-bottom {
    color: #020202;
    margin-bottom: 0px; 
    margin-top: 0px;
    
    padding: 0px;
   
  }

  label {
    display: block;
    margin-bottom: 8px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }
  
  button {
    margin-top: 10px;
    background-color: #a3a3af;
    color: #fff;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
 
  }
 
 
  button:hover {
    background-color: #a9aaff;
  }
  
  .reset-button {
    margin-left: 135px; 
    background-color: #dd0f0f ;
    color: #020202;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 55%;
    font-size: 14px;

  }
  
  .reset-button:hover {
    background-color: #a9aaff ;
  }